# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List languages used by data scientists
* List commonly used libraries
* List at least three Tools for data scientists

Some of the popular languages that Data Scientists use are:
1.R 
2.Python
3.SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scipy

| Data Science Tools | 
|--------------------|
| MongoDB |
| Jupiter notebook |
| Microsoft Excel |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Brook Afework